.add{
    height: 5.2rem;
    width: 5.2rem;
    border-radius: 100%;
    background: #50e3a4;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -6.5%;
    left: 39%;    
    cursor: pointer;
    border: none;
}
.plus{
    font-size: 50px;
    color: #999;
}
