.card{
    background-color: #fff;
    height: 42rem;
    max-width: 400px;
    width: 100%;
    padding: 2.5em;
    position: relative;
    color: #56596A;
}
.date-month-year{
    flex-basis: 100px;
    display: flex;
    align-items: center;
    gap:12px
}
.date-day{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.day{
    display: flex;
    align-items: center;
}
.month-year{
    display: flex;
    flex-direction: column;
}
.dateValue{
    font-size: 2.8rem;
    font-weight: 700;
}
.monthValue{
    font-weight: 500;
   
}
.dayValue{
    font-size: 1.1rem;
    font-weight:500;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}
